NODE_ENV=development
PORT=4000
SECRET_KEY=
EXPIRE_IN=1d

DATABASE_URL=postgres://user:password@localhost:5432/your_db

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=2525
EMAIL=correo asignado por brevo
GOOGLE_APP_PASSWORD=contraseña asignada por brevo