# node_modules
node_modules/
email-api/node_modules/
entregable4-frontend-2-main/node_modules/

# Environment files
.env
email-api/.env
entregable4-frontend-2-main/.env

# log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Files from Operative Systems
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
build/
email-api/dist/
entregable4-frontend-2-main/dist/
entregable4-frontend-2-main/dist-ssr

# Local Files
*.local